body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

h1, h2, p {
  text-align: center;
  font-family: Courier New;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #999999;
  border-radius: 10px;
}

table, th, td {
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #999999;
  font-family: Courier New;
  line-height: 25px;
}

p {
  line-height: 25px;
}

iframe {
  width: 70%;
  display: block;
  margin: auto;
  border-radius: 30px;
  margin-bottom: 20px;
}

#logo {
 width: 100px;
 height: 100px;
 bottom: 20px;
 right: 20px;
 position: absolute;
 position: fixed;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#selfie {
  width: 20%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px
}
